

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
	
  }
  @font-face {
	font-family: "Starbucks";
	src: url(../fonts/49f6eaa3630c71e3-s.p.woff);
}
  

  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text-black:#000000;
	  --color-text-white:#ffff; 
	  --color-background-green:#006242;
	  --color-button-green:#006242;
	  --color-button-white:#ffff;
	  --color-background-white:#ffff;
	  --color-background-grey:#f7f7f7;
  }
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */

  header {
	background-color: var(--color-text-white);
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.9em;

  }
  header img {
	max-height: 90%;
  }

  body {
	margin:0;
	background-color: var(--color-background-white);
  }

  nav.is-open {
	translate:0 0;
  }
  nav {
	/* JOUW CODE HIER - stap 1 */
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	translate:-100%
  }

/*********************/
/*******footer********/
/*********************/

footer { 
	background-color: var(--color-background-green)


}

footer img {
	max-width: 10%;
}

footer a {
	color: var(--color-text-white);

}